@import '../../config.scss';


.edu-container {
  display: flex;
  flex-flow: row wrap;

  margin: 1.5rem 0;

  & .left-side {
    & .eduYears {
      padding: 0.5rem 0 0.5rem 0;
    }

    @media (min-width: $max-width) {
      width: 50%;
    }
  }

  & .right-side {
    & .eduInfo {
      padding: 0.5rem 0 0.5rem 0;
    }
    
    @media (min-width: $max-width) {
      width: 50%;
    }
  }
}