@import '../../config.scss';

.know-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 0.3rem 0;
  width: 100%;

  .starSpan {
    margin-left: 0.1rem;
    transition: 0.3s ease;
  }

  &:hover {
    background-color: $color-rating-background-hover;

    & .know-rating .selected {
      font-size: 1rem;

      margin: 0 -0.3rem;
    }
  }

  & .know-rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    justify-content: space-between;

    font-size: 0.8rem;

    width: 50%;

    & .selected {
      font-size: 0.85rem;
      font-weight: bolder;

      margin: 0 -0.15rem;
    }
  }
}