@import '../../config.scss';

// The styles for the header on the frontpage 
.frontpage-header {
  background-attachment: scroll;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ), url(../../images/laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: calc(10px + 2vmin);
  color: $color-font-header;

  & hr {
    margin: 1rem 2rem;
  }

  // The style for the arrowbox in the header
  & .scroll-down {
    background-color: $color-background-navbar;
    border-radius: 0.2rem 0.2rem 0 0;

    display: flex;
    justify-content: center;

    height: 6rem;
    width: 100%;

    position: absolute;
    bottom: 0;

    // The style for the animated arrow in the header
    & .arrow-down {
      animation: arrowAnimation 0.5s infinite ease;
      animation-direction: alternate-reverse;
      
      color: $color-dark-theme-font;
      padding-top: 2rem;
    }

    // The arrow animation in the header
    @keyframes arrowAnimation {
      0% {
        padding-top: 1.6rem;
      } 100% {
        padding-top: 2.4rem;
      }
    }

    @media (min-width: $max-width) {
      background-color: $color-dark-theme;
      width: 12rem;
    }
  }

}

// The styles for the information portion of the frontpage
.info {
  display: flex;
  flex-flow: column;

  margin: 6rem auto;
  width: 75%;

  & h1 {
    color: $color-font-info-header;
    margin-bottom: 2rem;

    width: 100%;
  }

  & hr {
    margin: 3rem 20%;
  }

  & .about {
    text-align: justify;
  }

  & .projects {
    display: flex;
    flex-flow: column;
  }

  @media (min-width: $semi-max-width) {
    & .projects {
      flex-flow: row wrap;
    }
  }

  @media (min-width: $max-width) {
    width: 45%;
  }
}


// The styles for the footer of the frontpage
.frontpage-footer {
  background-color: $color-background-footer;
  text-align: center;
  
  margin: 25rem 0 0 0;
  padding: 5rem 0 2rem 0;

  & .contact-details {
    margin: 2rem auto;
    width: 40%;

    & .links {
      display: flex;
      flex-flow: row;

      justify-content: space-between;

      a {
        color: $color-dark-theme-font;
        text-decoration: none;
        
        opacity: 0.6;

        padding: 1rem 0;
      
        &:hover {
          opacity: 1;
        }
      }

      & .linkedIn {
        color: #0077b5;
        font-size: 3rem;
      }

      & .github {
        font-size: 3rem;
      }
    }

    @media (max-width: $semi-max-width) {
      width: 70%;
    }
  }
}