@import './config.scss';

.app {
  
  @if $dark-theme {
    background-color: $color-dark-theme;
    color: $color-dark-theme-font;
  } @else {
    background-color: $color-light-theme;
    color: $color-light-theme-font;
  }
}