$max-width: 1200px;
$semi-max-width: 1000px;
$mobile-width: 768px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;

$dark-theme: true;

$color-light-theme: #f5f5f8;
$color-dark-theme: #080c0f;

$color-light-theme-font: #222;
$color-dark-theme-font: #fff;

$color-font-header: #fff;
$color-font-info-header: #22A39F;
$color-font-category-header: #1f9591;

$color-background-navbar: #190526;
$color-background-footer: #141313;

$color-rating-background-hover: #0e151a;

$transition: 250ms ease-in-out;