$max-width: 1400px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;

$color-font: #222;
$color-font-header: #fff;
$color-background: #eee;

$transition: 250ms ease-in-out;