@import './config.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: $font-heading;
}

h3, h4, h5, h6 {
  font-family: $font-main;
}

body {
  overflow-y: scroll;

  font-size: 16px;
  font-family: $font-main;
}
